
    /* Carousel css */
.slick-slider {
    position: relative;
    width: 85%;
    margin: 0 auto;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 24px;
    color: #333;
  }
  
  .slick-prev {
    left: -40px;
  }
  
  .slick-next {
    right: -40px;
  }
  
  .slick-slide {
    margin: 0px;
    padding: 5px;
  }
  
  .Home-container img {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  /* Social links styles -> udelat z toho ikonky */
  .Home-container a {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }