.err h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #f44336;
}

.err p {
    font-size: 20px;
    margin: 10px 20px 10px 20px;
}

.err p a {
    color: #000000;
    font-weight: 900;
    text-decoration:underline;
}

.err p a:hover {
    color: #8d433e;
}