input[type=text], [type=email] {
    width: min(100%, 350px);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
input[type=submit] {
    width: min(100%, 350px);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #141414;
    color: #e6e6e6;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2e2e2e;
}

input:focus, textarea:focus {
    background-color: #0f0d0d;
    color: #e6e6e6;
    border: none;
    border-bottom: 4px solid #535353;
    border-left: 4px solid #535353;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

textarea {
    width: max(100%, 350px);
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    align-items: center;
    background-color: #ffffffd2;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 7px inset #0000006b, 2.5px 2.5px 5px #0000006b;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

}

.container-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto
}

.price-text {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

@media screen and (max-width: 1100px) {
    .price {
        flex-direction: column;
    }

    input[type=text],
    [type=email],
    [type=submit],
    textarea {
        width: max(100%, 250px);
    }

    form {
        margin-top: 2.5em;
    }

}