.triangle {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
}

.triangle:hover {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #E3E3E3;
  transition-delay: 0.7s;
}
/* Path: src\components\Triangle.js */